*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --background-page: #EAEAEA;
    --background-recipe: #FFFFFF;
    --titles: #1B1B1B;
    --text-footer: #8F8F8F;
    --texts: #39393A; 
}

body{
    background-color: var(--background-page);
    font-family: 'Roboto', sans-serif;
}

body h1{
    font-size: 1.75rem;
    color: var(--titles);
}

body h2{
    font-size: 1.25rem;
    color: var(--titles);
}

ul li, ol li{
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
    list-style-position: inside;
    color: var(--texts)
}

figcaption, footer p{
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-footer);
}

main{
    border-radius: 1rem;
    margin: 1rem auto;
    width: 70%;
    min-width: 450px;
    max-width: 1000px;
    padding: 2rem;
    background-color: var(--background-recipe);
}

main h1, main h2, main figure{
    text-align: center;
    padding: 1rem;
}

ol, ul{
    padding: 1rem;
}
.figure{
    text-align: right;

}
figcaption{
    margin-top: 0.6rem;
}

.figure img{
    width: 100%;
    border-radius: 1rem;
    height: 15.625rem;
    object-fit: cover;
}

footer{
    width: 100%;
    text-align: center;
    padding: 1rem;
}